
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "AdminIndex";
    
}
@model EadProject.Models.Product
<style>
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>

<br />
<div class="row">
    <h1 align="center">ADMIN INDEX</h1>
    <hr />
</div>
<div class="row">
    <h2 style="color:green">ADD ITEM</h2>
    <br />
    <form action="~/SignUp/register" method="post" id="search-form" role="search">
        <label class="col-md-2 control-label" for="name">Item Name</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="email" name="Name" required>
        </div>
        <label class="col-md-2 control-label" for="name">Price</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="email" name="Price" required>
        </div>
        <label class="col-md-2 control-label" for="name">Quantity</label>
        <div class="form-group">
            <select name="Quantity" id="size">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>   
            </select>
        </div> 
       
        <div class="form-group fileUpload btn btn-primary">
            <span>Upload Image</span>
            <input type="file" class="upload" />
        </div>
        <div class="form-group ">
            <!--to display uploaded image-->
        </div>
        <button type="submit" class="btn btn-success" style="width:20em "><b>Add Item</b></button>

    </form>
</div>
<hr />
<div class="row">
    <h2 style="color:green">UPDATE ITEM INFO</h2>
    <br />
    <form action="~/SignUp/register" method="post" id="search-form" role="search">
        <label class="col-md-2 control-label" for="name">Item Name</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="email" placeholder="item you want to update" name="Name" required>
        </div>
        <label class="col-md-2 control-label" for="name">Item No.</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="email" name="ItemNo" placeholder="Item no." required>
        </div>
        <button type="submit" class="btn btn-primary" ><b>Get Data</b></button>
    </form>
    <div class="row">
        <div class="col-lg-5">
            <hr />
        </div>

    </div>
    <form action="~/SignUp/register" method="post" id="search-form" role="search">
        
            <label class="col-md-2 control-label" for="name">Item Name</label>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="email" name="Name" required>
            </div>
            <label class="col-md-2 control-label" for="name">Price</label>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="email" name="Price" required>
            </div>
            <label class="col-md-2 control-label" for="name">Quantity</label>
            <div class="form-group">
                <select name="Quantity" id="size">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="form-group fileUpload btn btn-primary">
                <span>Upload Image</span>
                <input type="file" class="upload" />
            </div>
            <div class="form-group ">
                <!--to display uploaded image-->
            </div>
            <button type="submit" class="btn btn-success" style="width:20em "><b>Update Item</b></button>

        </form>
</div>
<hr />
<div class="row">
    <h2 style="color:green">DELETE ITEM </h2>
    <br />
    <form action="~/SignUp/register" method="post" id="search-form" role="search">
        <label class="col-md-2 control-label" for="name">Item Name</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="email" placeholder="item's name'you want to delete" name="ItemName" required>
        </div>
        <label class="col-md-2 control-label" for="name">Item No.</label>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="email" name="ItemNO" placeholder="Item no." required>
        </div>
        <br />
        <button type="submit" class="btn btn-success" style="width:20em "><b>Delete Item</b></button>
    </form>
        
</div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />
    <div class="row">
        <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
        <div id="foobar">
            <footer>
                <ul>
                    <li>&copy; <b>@DateTime.Now.Year - ShopIn </b></li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Refund & Exchange", "RefundAndExchange", "Home")</li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("ShippingInfo", "ShippingInfo", "Home")</li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Privacy Policy", "ContactUs", "Home")</li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </footer>
        </div>
    </div>

