
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "AllOrders";
}

@model EadProject.Models.Order
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        //alert($('#p').val());

    });
</script>
<link rel="stylesheet" type="text/css" href="~/Content/table.css">
<br /><br />
<div class="row">
    <div class="container">
        <h3 align="center">All Orders !!!</h3>
    </div>
</div>
<br />
<hr>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <td>Customer's Name</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Size</td>
            <td>Status</td>
            <td>Total Bill</td>
            <td>Deliver</td>

        </tr>
        @foreach (var p in ViewBag.OrderList)
        {
            if (p.Status != "cart")
            { 
                <tr>
                    <td>@p.CustomerName</td>
                    <td>@p.ProductName</td>
                    <td>@p.Price</td>
                    <td>@p.Quantity</td>
                    <td>@p.Size</td>
                    <td>@p.Status</td>
                    <td>@p.TotalBill</td>
                @if (p.Status == "delivered")
                    {
                        <td>----</td>
                    }
                else
                {
                    <td><a href="/Admin/DeliverProduct/@p.Id">Deliver</a></td>
                }           

               </tr>
            
        }
        }

    </table>
</div>

<br />
