<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> <b>ShopIn</b> <span class="glyphicon glyphicon-registration-mark"></span> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"> <span class="glyphicon glyphicon-home"></span><b> Home</b></a></li>
                    <li><a href="@Url.Action("About", "Home")"> <span class="glyphicon glyphicon-align-justify"></span><b> About</b></a></li>
                    <li><a href="@Url.Action("Women", "Product")"><span class="glyphicons glyphicons-man"></span><b> Women</b></a></li>
                    <li><a href="@Url.Action("Men", "Product")"><span class="glyphicons glyphicons-man"></span><b> Men</b></a></li>
                    <li><a href="@Url.Action("ContactUs", "Home")"> <span class="glyphicon glyphicon-envelope"></span><b> ContactUs</b></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="someLink" href="@Url.Action("Index", "Home")" ><span class="glyphicon glyphicon-log-out"></span><b> Sign Out</b></a></li>
                    <li><a id="someLink" href="@Url.Action("CustomerIndex", "Customer")"><span class="glyphicon glyphicon-user"></span><b> My Account</b></a></li>
                    <li><a href="#" style="color:white"><span class="glyphicon glyphicon-star"></span><b> Customer</b></a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    $(document).ready(function () {
        $('#someLink').click(function () {
           // alert("hi");
            $.post("@Url.Action("SignOut","Customer")" ,function(){
              
            });
           
        });
    });
    </script>
</body>


</html>