<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Content/style.css" type="text/css" charset="utf-8" />
    <script type="text/javascript" src="Scripts/jquery-1.3.2.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>


    </style>
</head>
<body>
    <script type="text/javascript">
    $(function () {
        $('#navigation a').stop().animate({ 'marginLeft': '-85px' }, 1000);

        $('#navigation > li').hover(
            function () {
                $('a', $(this)).stop().animate({ 'marginLeft': '-2px' }, 200);
            },
            function () {
                $('a', $(this)).stop().animate({ 'marginLeft': '-85px' }, 200);
            }
        );
    });
    </script>

    <div class="header"></div>
    <div class="scroll"></div>
    <ul id="navigation">

        <li class="About"><a href="@Url.Action("About", "Home")" title="About"> </a></li>
        <li class="Women"><a href="@Url.Action("Women", "Product")" title="Women"></a></li>
        <li class="Men"><a href="@Url.Action("Men", "Product")" title="Men"></a></li>
        <li class="Contact"><a href="@Url.Action("ContactUs", "Home")" title="ContactUs"></a></li>
    </ul>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>ShopIn</b> <span class="glyphicon glyphicon-registration-mark"></span> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                   <!-- <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Home", "Index", "Home")</li>-->
                    <li><a href="@Url.Action("Index", "Home")"> <span class="glyphicon glyphicon-home"></span><b> Home</b></a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("SignUp", "Customer")"><span class="glyphicon glyphicon-user"></span><b> Sign Up</b></a></li>
                    <li><a href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span><b> Login</b></a></li>
                </ul>
            </div>
        </div>

    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>