
@{
    ViewBag.Title = "Details2";

    
}
@model EadProject.Models.Product
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<br />
<hr />
<div class="container">
    <div class="row">
        <h2>ADD TO CART</h2>

    </div>
</div>
    <div class="container">


        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary ">
                    <div class="panel-heading">Item 1</div>
                    <ul id="etalage">
                        <li>
                            <div class="panel-body "><img id="image"  src="@Url.Content(Model.Path)" class="etalage_thumb_image img-responsive" style="margin: 0 auto;" width="170" height="100" alt="Image"></div>

                        </li>

                    </ul>
                    <div class="panel-footer pfooter" style="color:#000000 ">@Model.ProductName </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                 @using (Html.BeginForm("AddToCart", "Product", new { productName = Model.ProductName }, FormMethod.Post, null))
                      {
                <ul>


                    <li><h5><b><u style="color:green; font-size: 20px ">Price : @Model.Price</u></b></h5></li>
                    <li>
                        <h5><b style=" font-size: 18px ">Select Your Size</b></h5>
                        <select name="size" id="size">
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                            <option value="x-large">X-Large</option>
                        </select>
                    </li>
                    <li>
                        <h5><b style=" font-size: 18px ">Quantity</b></h5>
                        <select name="Quantity" id="size">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <hr />
                     
                            <button type="submit" id="submit" class="btn " style=" background-color:#C00033 ;width:13em "><span class="glyphicon glyphicon-shopping-cart"><b> Add To Cart</b></span></button>

                     
                        
                    </li>
                </ul>
                      }
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
        <div id="foobar">
            <footer>
                <ul>
                    <li>&copy; <b>@DateTime.Now.Year - ShopIn </b></li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Refund & Exchange", "RefundAndExchange", "Home")</li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("ShippingInfo", "ShippingInfo", "Home")</li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Privacy Policy", "ContactUs", "Home")</li>
                    <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </footer>
        </div>
    </div>

<script type="text/javascript" src="~/Scripts/ddpowerzoomer.js"></script>
<script type="text/javascript">

    jQuery(document).ready(function ($) { 
        $('#image').addpowerzoom({
            defaultpower: 1.5,

            magnifiersize: [150, 150]

        })
    })
</script>