
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<br />
<hr />
<div class="container">
    <div class="row">
        <h1>WHAT IS ShopIn MARKETPLACE?</h1>
        <p>
            SHOPIN Marketplace is home to the hottest new brands and vintage boutiques from around the world.
            Here you’ll find the best independent designs alongside quality sourced vintage from hundreds of sellers.
        </p>

</div>
    <div class="container">
    </div>
    <div class="row">
        <h1>COPYRIGHT POLICY</h1>
        <p>
            SHOPIN Marketplace is dedicated to protecting intellectual property rights, copyrights and trademarks, our legal team would like you all to be aware of our policies in this area.

            Although SHOPIN Marketplace cannot control everything that is loaded to the site we do our best to ensure that listed items do not infringe upon the copyright, trademark or other intellectual property rights of third parties. If you believe that your intellectual property rights have been infringed, please notify our customer care team and we will investigate as soon as we can.

            SHOPIN Marketplace operates a zero tolerance policy against anyone found to be selling counterfeit goods. Please see our dedicated Fashion not Fakes page for more details.
        </p>
    </div>
    </div>
<div class="container">
    <div class="row">
            <h1>WANT TO BUY?</h1>
        <div class="col-lg-2">
            <ul class="list-group categories">
                <li class="list-group-item active " style=" font-size: 15px ; font-weight:bold ">Content</li>
                <li class="list-group-item" style=" font-size: 15px ; font-weight:bold ;">@Html.ActionLink("Women ", "Women", "Home")</li>
                <li class="list-group-item" style=" font-size: 15px ; font-weight:bold">@Html.ActionLink("Men ", "Men", "Home")</li>
                <li class="list-group-item" style=" font-size: 15px ; font-weight:bold">@Html.ActionLink("Accessories ", "Accessories", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <div id="foobar">
        <footer>
            <ul>
                <li>&copy; <b>@DateTime.Now.Year - ShopIn </b></li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Refund & Exchange", "RefundAndExchange", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("ShippingInfo", "ShippingInfo", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Privacy Policy", "ContactUs", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </footer>
    </div>
</div>

