@{
    ViewBag.Title = "ShopIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  List<EadProject.Models.Product>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#Sdiv').hide();
   
    });
</script>
        <br />
        <div class="row">

        </div>
        <br />
        <div class="row">
            <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
            <script src="/Scripts/js-image-slider.js" type="text/javascript"></script>

    <div id="slider" class="action  hide-from-mobile">
        <img src="/Images/shop.png">
        <img src="/Images/xyz.png">
        <img src="/Images/winter.png">
        <img src="/Images/accessories.png">
    </div>

</div>
<hr />
<div class="container">
    <div class="row">
        <h1> Welcome to ShopIn!!!</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">

        <p>
            <b>
                Online shopping! Every one you know is shopping online these days.
                All your friends are shopping online; Shoppers are buying gifts online for their friends,
                relatives and colleagues. Shopping online with The Warehouse is so easy and convenient,with
                the facility of cash on delivery all over Pakistan. At The Warehouse we have a variety of 
                categorie and product lines to cater everyone,it’s like an online Shopping mall. At The 
                Warehouse we offer sales,discounts and promotions every now and then. With our Super Deal 
                tab you can shop online amazing deals at discounted prices at your doorstep.Don’t worry if
                you have forgotten your wife’s birthday or your parents anniversary, we’ve got you covered! 
                With the best shopping experience and vast variety to chose from you can now order gift for 
                your loved ones, we are just a click away. Well, The Warehouse is Pakistan’s Best Online 
                Shopping Destination.
            </b>
        </p>

    </div>

</div>
<hr />
<!--line1-->
<div class="container">

    <div class="row">
     @foreach (var p in Model)
        {

            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Item </div>

                    <div class="panel-body "><img src="@Url.Content(p.Path)" class="img-responsive " style="margin: 0 auto;" width="170" height="100" alt="Image"></div>
                    <div class="panel-footer pfooter" style="color:#000000 ">
                        <p>@p.ProductName</p>
                        <p><b><u>PRICE: <span>@p.Price RS</span></u></b></p>
                        @using (Html.BeginForm("Details", "Product", new { productName = @p.ProductName }, FormMethod.Post, null))
                        {
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger"><b>Details</b></button>
   
                            </div>
                        }

                    </div>





                </div>
            </div>
        }
</div>

    </div>
       
        <hr />
        <div class="row">
            <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
            <div id="foobar">
                <footer>
                    <ul>
                        <li>&copy; <b>@DateTime.Now.Year - ShopIn </b></li>
                        <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Refund & Exchange", "RefundAndExchange", "Home")</li>
                        <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("ShippingInfo", "ShippingInfo", "Home")</li>
                        <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Privacy Policy", "ContactUs", "Home")</li>
                        <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </footer>
            </div>
        </div>







