
@{
    ViewBag.Title = "ShippingInfo";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<hr />
<div class="container">
    <div class="row">
        <h3>SHIPPING INFO</h3>
        <p>
            (US) DOMESTIC SHIPPING
           Shop Priceless offers a tiered shipping structure on US orders:
           
            <pre>
                   $5 for orders $0 to $24.99
                   $8.75 for orders $25 to $49.99
                   FREE for orders over $50
            </pre>
            We ship Monday through Friday in 3 to 5 business days. Shop Priceless will notify you if there is an issue with an order (Out of stock, Shipping Address Information). All orders receive insurance and tracking information. Orders usually arrive between 3 to 10 business days after it has been shipped. We accept orders shipped to PO boxes and APO/FPO or U.S. territories.
            Return shipping costs are the responsibility of the customer. 
        </P>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>RETURN INSTRUCTIONS FOR ONLINE PURCHASES</h3>
        <p>
            Items purchased online can be returned by post or to a store in Australia that stocks the same brand for a refund. We can also exchange items in store, but cannot do exchanges via post.

            Please refer to the Refund and Exchange Policy at the bottom of this page to ensure your return meets the requirements.
        </p>
    </div>
</div>
<hr />
<div class="row">
    <link href="/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <div id="foobar">
        <footer>
            <ul>
                <li>&copy; <b>@DateTime.Now.Year - ShopIn </b></li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Refund & Exchange", "RefundAndExchange", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("ShippingInfo", "ShippingInfo", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("Privacy Policy", "ContactUs", "Home")</li>
                <li style=" font-size: 15px ; font-weight:bold"> @Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </footer>
    </div>
</div>